name: Dolphin-AppImage

on: push

jobs:
  dolphin-appimage:
    name: dolphin bundled as appimage
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      # Runs the Dolphin action
      - name: Prepare ccache timestamp
        id: ccache_cache_timestamp
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")
      - name: cache
        uses: actions/cache@v2
        with:
          path: ~/.ccache
          key: build-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
          restore-keys: |
            build-ccache-
      - name: install Dolphin
        run: |
              mkdir -p "$HOME/.ccache"
              docker pull quriouspixel/dolphin:18.04
              docker run -u root --env-file travis/common/travis-ci.env -v $(pwd):/dolphin -v "$HOME/.ccache":/root/.ccache quriouspixel/dolphin:18.04 /bin/bash /dolphin/travis/appimage/docker.sh
      - name: Run Dolphin-AppImage
        run:  ls -al
        env:
          DEFAULT_BRANCH: git-actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
